/* src/index.css */
@import "tailwindcss";

/* Utility for 3D Transforms */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari support */
}